footer {
  background-color: var(--color-primary);
  height: 50px;
}

footer h2 {
  text-align: center;
  font-size: 3.5rem;
  color: #eeff05;
  padding: 26px;
  background-color: var(--color-primary);
}

