section {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
}

table {
  background-color: rgb(81, 85, 77);
  border: 6px double rgb(54, 20, 20);
  padding: 180px;

  td{
    font-size: 20px;
  }
  tr{
    font-size: 20px;
  }
}

#agregarAlumno {
  position: absolute;
  bottom: 75%;
  left: 20px;
  z-index: 10;
  padding: 30px;
  transition: 300ms;
}

#agregarAlumno:hover{
  background-color: rgb(159, 163, 202);
  transition: 300ms;
}
